
<div>
  <div style="display:flex">
{% for detail in include.details %}
  {% if detail[0] == "where" %}
    <div class="detailblock">
      <img src="/assets/images/map.svg" width="40px" /> &nbsp;&nbsp;Where: <p> {{detail[1]}}</p>
    </div>  
  {% endif %}
  {% if detail[0] == "when" %}
    <div class="detailblock">
      <img src="/assets/images/clock.svg" width="40px" />&nbsp;&nbsp;When: <p> {{detail[1]}}</p>
    </div>  
  {% endif %}
  {% if detail[0] == "schedule" %}
    </div>
    <dl class="details">
    <dt>{{ detail[0] | capitalize }}</dt>
    
      <dd class="schedule">
      {% for event in detail[1] %}
        <div class="event">
          <span class="description">{{ event["what"] }}</span> -
          <span class="time">{{ event["when"] }}</span>
        </div>
      {% endfor %}
      </dd>
    </dl>
  {% endif %}
{% endfor %}
</div>

