
<div>
  <div style="display:flex">
{% for detail in include.details %}
  {% if detail[0] == "where" %}
    <div class="detailblock">
      <img src="/assets/images/map.svg" width="40px" /> &nbsp;&nbsp;Where: <p> {{detail[1]}}</p>
    </div>  
  {% endif %}
  {% if detail[0] == "when" %}
    <div class="detailblock">
      <img src="/assets/images/clock.svg" width="40px" />&nbsp;&nbsp;When: <p> {{detail[1]}}</p>
    </div>  
  {% endif %}
  {% if detail[0] == "schedule" %}
    </div>
    <div class="schedule">
    <h2>{{ detail[0] | capitalize }}</h2>
    
      <div class="scheduledetails">
      {% for event in detail[1] %}
        <div class="event">
          <span class="time">{{ event["when"] }}</span> - 
          <span class="description">{{ event["what"] }}</span>
        </div>
      {% endfor %}
    </div>
    </div>
  {% endif %}
{% endfor %}
</div>

