
<div class="sponsors">
{% for sponsor in include.sponsors %}
  {% if sponsor["url"] %}
    <a href="{{sponsor["url"]}}">
  {% endif %}
  {% if sponsor["background"] %}
    <span class="sponsor-background">
  {% endif %}
  <img src="{{ 'assets/images/sponsors/' | relative_url }}/{{ sponsor["image"] }}" 
       class="sponsor{% if sponsor["background"] %} background{%endif%}"
       {% if sponsor["background"] %}style="background: {{sponsor["background"]}}"{% endif %}
       alt="{{sponsor["name"]}}"
       title="{{sponsor["name"]}}"
       width="80%"
       height="auto"
       >
  {% if sponsor["background"] %}
    </span>
  {% endif %}
  {% if sponsor["url"] %}
    </a>
  {% endif %}
{% endfor %}
</div>